@font-face {
  font-family: 'Outfit';
  src: url("./fonts/Outfit-Regular.ttf");
}
@font-face {
  font-family: 'Pacifico';
  src: url("./fonts/Pacifico-Regular.ttf");
}

.App {
  background: linear-gradient(180deg, #56AAE0 0%, #95C5E9 100%);
  height: 100vh;
  width: 100%;
}
.logo {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 1;
  background: #FDCF25;
  color: #111827;
  text-align: center;
  width: 100%;
  padding: 1rem;
  text-shadow: #F2502A 1px 2px 0px;
}
.list-container {
  max-width: calc(100% - 100px);
  margin: 0 50px;
  height: 100vh;
  max-width: 700px;
  margin: auto;
}
form {
  background: #EA98A6;
  border: 3px solid #111827;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-items: end;
  border-radius: 7px 7px 0 0;
}
input.list-input {
  background: #D9D9D9;
  border: 3px solid #111827;
  height: 47px;
  width: 100%;
  font-size: 32px;
  padding-left: 1rem;
  font-family: 'Outfit';
}
button {
  width: 41px;
  height: 41px;
  background-color: #F06604 !important;
  margin-top: 2rem;
  color: white;
  font-size: 25px;
  display: flex;
  line-height: -15;
  justify-content: center;
  font-weight: 900;
}
.list-inner {
  background-color: #E0DFF6;
  height: 73%;
  border: 3px solid #111827;
  border-top: none;
  padding: 2rem;
  border-radius: 0 0 7px 7px;
  position: relative;
}
li {
  color: #2269DA;
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  display: flex;
  align-items: center;
}
li button {
  margin: 0;
  background-color: #ff000000!important;
  margin-left: 2rem;
  color: #DF2F06;
}
.completed {
  text-decoration: line-through;
}
a.linkedIn-link {
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-weight: 400;
  font-size: 15px;
  font-family: 'Outfit';
}